# on server file path: /opt/testify/docker-compose.yml so network is testify_app-net <docker rename it lke  folder name and then your networkname >
version: "3.9"

services:
  backend:
    image: shivamsharma0309/mrsoftware-backend:13
    container_name: backend
    restart: always
    ports:
      - "8888:8888"
    env_file:
      - ./backend/.env
    networks:
      - app-net

  frontend:
    image: shivamsharma0309/mrsoftware-frontend:13
    container_name: frontend
    restart: always
    ports:
      - "8081:80"
    # env_file:
    #   - ./frontend/.env
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge