version: "3.9"

services:
  backend:
    image: backend-image:latest
    container_name: backend
    ports:
      - "8888:8888"
    env_file:
      - ./backend/.env
    networks:
      - app-net

  frontend:
    image: frontend-proxy:latest
    container_name: frontend
    ports:
      - "80:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
